# DATABASE_URL=postgresql://postgres:NdjEhsDQcTmLdSCFFEIutyGXzDVuGjMD@monorail.proxy.rlwy.net:28208/railway
DATABASE_URL=postgresql://username:password@host:5432/database
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLIC_KEY=


NEXTAUTH_SECRET=ABC123

POSTGRE_PASSWORD=password1234